<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles-alt.css">
    <title>CoursePage</title>
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<h2>Activities for Course: <span th:text="${courseName}"></span></h2>

<!-- Display Activities -->
<table>
    <tr>
        <th>Activity ID</th>
        <th>Activity Name</th>
        <th>Action</th>
    </tr>
    <tr th:each="activity : ${activities}">
        <td th:text="${activity.id}"></td>

        <td><a th:href="@{'/activities/' + ${activity.id}}" th:text="${activity.name}"></a></td>
        <td>
            <form th:action="@{'/course/' + ${courseId} + '/delete/' + ${activity.id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

<!-- Add Activity Form -->
<form th:action="@{'/course/' + ${courseId} + '/add'}" method="post" th:object="${newActivity}">
    <label for="activityName">Activity Name:</label>
    <input type="text" id="activityName" th:field="*{name}" required>
    <button type="submit">Add Activity</button>
</form>
<br><br>
<!-- Add a link to the criterion page -->
<a th:href="@{/criteria/{courseId}(courseId=${courseId})}" class="button">View Criterion</a>

<a th:href="@{/evaluations/{courseId}(courseId=${courseId})}" class="button">View Evaluations</a>

<a th:href="@{/api/csv/export/evaluations/{courseId}(courseId=${courseId})}" class="button">Export Evaluations</a>


</body>

</html>