<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles-alt.css">
    <title>Import Teams</title>
</head>
<body>

<form th:action="@{/api/csv/import/teams}" method="post" enctype="multipart/form-data">
    <label for="file">Choose File to upload:</label>
    <input type="file" id="file" name="file" accept=".csv">
    <button type="submit">Upload</button>
</form>

</body>
</html>