<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Task Details</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<header>
    <h1 th:text="${task.name}">Task Name</h1>
    <a th:href="@{'/course/' + ${courseId}}" style="text-decoration: none;"><button type="button">Back to current course</button></a>
    <a th:href="@{'/activities/' + ${activityId}}" style="text-decoration: none;"><button type="button">Back to current activity</button></a>
</header>
<main>
    <section>
        <h2>Task Details</h2>
        <table>
            <tr>
                <th>Parent activity:</th>
                <td th:text="${parentActivityName}">Parent Activity</td>
            </tr>
            <tr>
                <th>Order:</th>
                <td th:text="${task.order}">Order</td>
            </tr>
            <tr>
                <th>Start Date:</th>
                <td th:text="${task.startDate}">YYYY-MM-DD</td>
            </tr>
            <tr>
                <th>End Date:</th>
                <td th:text="${task.endDate}">YYYY-MM-DD</td>
            </tr>
            <tr>
                <th>Type:</th>
                <td th:text="${task.type}">Type</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td th:text="${task.description}">Description goes here.</td>
            </tr>
        </table>
    </section>

    <section>
        <h2>Task solvers</h2>
        <table>
            <tr>
                <th>Solver</th>
                <th>Main solver</th>
            </tr>
            <tr th:each="row : ${solvers}">
                <td th:text="${row[0]}"></td>
                <td th:text="${row[1]}"></td>
            </tr>
        </table>
        <form th:action="@{/handleSolverAction}" method="post">
            <input type="hidden" name="currentUserId" th:value="${currentUserId}" />
            <input type="hidden" name="taskId" th:value="${task.id}" />
            <button type="submit" name="action" value="signUpAsSolver" th:disabled="${userIsSolver}">Sign up as solver</button>
            <button type="submit" name="action" value="signUpAsMainSolver" th:disabled="${!userIsSolver or userIsMainSolver}">Sign up as main solver</button>
            <button type="submit" name="action" value="stopBeingSolver" th:disabled="${!userIsSolver or userIsMainSolver}">Stop being a solver</button>
        </form>
    </section>

    <section>
        <h2>Task Reports</h2>
        <table>
            <tr>
                <th>User</th>
                <th>Hours spent</th>
                <th>Students devoted</th>
                <th>Report</th>
            </tr>
            <tr th:each="row : ${workloads}">
                <td th:text="${row[0]}"></td>
                <td th:text="${row[1]}"></td>
                <td th:text="${row[2]}"></td>
                <td th:text="${row[3]}"></td>
            </tr>
        </table>
        <div th:if="${userIsSolver}">
            <form th:action="@{'/task/' + ${task.id} + '/addWorkload'}" method="post" th:object="${newWorkload}">
                <label for="hoursSpent">Hours spent:</label>
                <input type="text" id="hoursSpent" th:field="*{hoursSpent}" required>

                <label for="studentsDevoted">Students devoted:</label>
                <input type="text" id="studentsDevoted" th:field="*{studentsDevoted}" required>

                <label for="report">Report:</label>
                <input type="text" id="report" th:field="*{report}" required>

                <button type="submit">Add task report</button>
            </form>
        </div>
    </section>

</main>
</body>
</html>