body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}

h1 {
    color: #008080;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #008080;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #006666;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #008080;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #008080;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    color: white;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically */
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px; /* Space after the button */
}

.navbar button {
    cursor: pointer;
}

.navbar-right {
    margin-left: auto; /* Pushes the element to the right */
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically */
}

.button {
    background-color: #00B0B0;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #008888;
}